.cell-button {
  -fx-background-color: transparent;
}

.ship {
  -fx-background-color: transparent;
  -fx-stroke: black;
  -fx-stroke-width: 2;
}

.ok-ship {
  -fx-fill: lightslategrey;
}

.probable-ship {
  -fx-fill: #778999b2;
}

.incorrect-ship {
  -fx-fill: firebrick;
}

.menu-button {
  -fx-font-size: 64;
  -fx-background-color: transparent;
  -fx-background-repeat: no-repeat;
  -fx-background-size: contain;
}

#main-label {
  -fx-font-size: 128;
  -fx-font-weight: bold;
  -fx-padding: 50 0 80;
}

.game-label {
  -fx-font-size: 64;
  -fx-font-weight: bold;
}

#shipTypesGrid {
  -fx-grid-lines-visible: true;
}

.action-button {
  -fx-font-size: 30;
}

.cancel-button {
  -fx-background-color: red;
}

.done-button {
  -fx-background-color: green;
}
