.background {
  -fx-background-color: black;
}

.grid {
  -fx-grid-lines-color: aqua;
  -fx-stroke: aqua;
  -fx-background-color: black;
}

.grid-battlefield {
  -fx-background-color: blue;
}

.label {
  -fx-text-fill: aqua;
}

.error-label {
  -fx-text-fill: red;
}
