#main-label {
  -fx-font-size: 128;
  -fx-font-weight: bold;
  -fx-padding: 50 0 80;
}

.label {
  -fx-text-alignment: center;
}

.game-label {
  -fx-font-size: 64;
  -fx-font-weight: bold;
}

.grid-label {
  -fx-font-size: 32;
  -fx-font-weight: bold;
}

.result-label {
  -fx-font-size: 32;
  -fx-font-weight: bold;
}

.menu-button {
  -fx-font-size: 64;
  -fx-background-color: transparent;
  -fx-background-repeat: no-repeat;
  -fx-background-size: contain;
}

.cell-button {
  -fx-background-color: transparent;
}

.action-button {
  -fx-font-size: 30;
}

.cancel-button {
  -fx-background-color: red;
}

.done-button {
  -fx-background-color: green;
}

#shipTypesGrid {
  -fx-grid-lines-visible: true;
}

.ship {
  -fx-fill: #9098a0;
  -fx-background-color: transparent;
  -fx-stroke: black;
  -fx-stroke-width: 2;
}

.fired-mark {
  -fx-stroke-width: 5;
}

.miss-mark {
  -fx-stroke: white;
}

.hit-mark {
  -fx-stroke: red;
}
